<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>用户基本设置_修改密码</title>
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/user.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" type="text/css"  />
    <{include file= "../Public/head_js.html"}>
	<script>
			function mypass(){
				$.ajax({
					"type":"POST",
					"url":"__APP__/Action/dopassword",
					"data":$("#form-profile").serialize(),
					"success":function(msg){
                        if(msg=="YES"){
                            alert("密码修改成功！");
                            $(":input").val('');
                        }else{
                            alert("请输入正确的密码！");
                        }
					}
				})
				return false;
			}
			
	
	</script>
</head>
<body style="background:#fff">
<!--header start-->
<{include file= "../Public/header.html"}>
<div style="width:100%;height:25px"></div>
<!--header end-->
<div id="content">
    <div class="layer layer-full">
        <div class="tube">
            <!-- block start -->
            <div class="block">
                <div class="box">
                    <h2 class="line">
                        <a href="__APP__?m=User&a=index&id=<{$user.id}>">个人中心</a>&nbsp;&gt;&nbsp;修改密码
                    </h2>
                </div>
                <!--会员中心菜单-->
                <{include file= "../Public/user_head.html"}>

                <form id="form-profile" method="post" onsubmit="return mypass();">
                    <div class="set-baseinfo">
                        <table class="tableform" cellspacing="0" cellpadding="0" width="500">
                            <tr><th>输入旧密码</th><td><input id="oldpass" class="ipt" type="password" name="oldpass" value=""></td></tr>
                            <tr><th>输入新密码</th><td><input id="newpass" class="ipt" type="password" name="newpass" value=""></td></tr>
                            <tr><th>确认新密码</th><td><input id="newpass1" class="ipt" type="password" name="newpass1" value=""></td></tr>
                            <tr><td>&nbsp;</td><td><div class="clr mt8"><a class="abtn l" id = "{$user.id}" target="_self" href="javascript:void(0);"><button type="submit"><u>保存设置</u></button></a></div></td></tr>
                        </table>
                    </div>
                </form>
            </div>
            <!-- block end -->
        </div>
    </div>
</div>
<!--footer start-->
<{include file= "../Public/foot.html"}>
<!--footer end-->
</body>
</html>