<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<script type="text/javascript" src="__PUBLIC__/Admin/system/js/jquery.min.js"></script>
</head>
<body>
	<table border=1 width=500 height=500>
		<form action="http://192.168.70.2__APP__" method="get">
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td><textarea style="resize: none;">分享！</textarea></td>
		</tr>
		<tr>
			<td><input type="submit" value="发送" /></td>
			<input type="hidden" name="m" value="Content"/>
			<input type="hidden" name="a" value="qq"/>
			<input type="hidden" name="type" value="f"/>
			<input type="hidden" name="sid" value="32"/>
		</tr>
		</form>
	</table>
</body>
</html>